@using DiscordApi.Services
@inject UserStateService _userStateService

<div class="expand flex flex-center">
    <div class="login-box ui flex">
        <div class="flex flex-expand flex-col">
            <div class="login-item flex flex-center">
                <div class="login-title">
                    Please Login to Continue
                </div>
            </div>
            <div class="login-item flex flex-col flex-col-center-h">
                <div class="login-input-box flex">
                    <div class="login-input-title">
                        Username:
                    </div>
                    <div class="login-input-input">
                        <input @bind="Username"/>
                    </div>
                </div>
                <div class="login-input-box flex">
                    <div class="login-input-title">
                        Password:
                    </div>
                    <div class="login-input-input">
                        <input type="password" @bind="Password"/>
                    </div>
                </div>
            </div>
            <div class="login-item flex flex-center">
                <button @onclick="TryLogin">Login</button>
            </div>
        </div>
    </div>
</div>

@code {
    public string Username { get; set; }
    public string Password { get; set; }

    public bool LoginResult { get; set; }

    public async Task TryLogin()
    {
        LoginResult = await _userStateService.TryLogin(Username, Password);
    }

}