@using DiscordApi.UI.Components.BasicItems
@inherits StateComponentBase

<div class="margin flex flex-expand flex-col">
    <div class="config-heading border-bottom">
        Basic Config
    </div>
    <div class="flex flex-expand flex-col">

        <BooleanToggle Title="Mod Notes" Value="@ModNotesEnabled" ValueChanged="val => ModNotesEnabled = val"/>
        <BooleanToggle Title="Image Manipulation" Value="@ImageManipulation" ValueChanged="val => ImageManipulation = val"/>
        <BooleanToggle Title="E Sports" Value="@ESports" ValueChanged="val => ESports = val"/>
    </div>
</div>


@code {

    private bool ModNotesEnabled
    {
        get => State.ConfigItem.ModnotesEnabled;
        set
        {
            State.ConfigItem.ModnotesEnabled = value;
            Change();
        }
    }

    private bool ImageManipulation
    {
        get => State.ConfigItem.ImageManipulationEnabled;
        set
        {
            State.ConfigItem.ImageManipulationEnabled = value;
            Change();
        }
    }

    private bool ESports
    {
        get => State.ConfigItem.ESportsEnabled;
        set
        {
            State.ConfigItem.ESportsEnabled = value;
            Change();
        }
    }

    private void Change()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
            State.TriggerSave();
        });
    }

}