<div class="config-item flex flex-space-between flex-row-center-v">
    <div>
        @Title
    </div>
    <div class="flex option">
        <label class="switch">
            <input type="checkbox" checked="@Value" onchange="@UpdateValue"/>
            <span class="slider round"></span>
        </label>
    </div>
</div>


@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool Value { get; set; }

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }

    private async Task UpdateValue()
    {
        await ValueChanged.InvokeAsync(Value);
    }

}