.flex {
    display: flex;
}

.flex-expand {
    flex: 1 0 auto;
}

.flex-col {
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.flex-col-center-h {
    align-items: center;
}

.flex-row-center-v {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
}