.flex{
    display: flex;
}

.flex-expand{
    flex: 1 1 auto;
}

.flex-col{
    flex-direction: column;
}

.flex-space-between{
    justify-content: space-between;
}

.flex-col-center-h{
    align-items: center;
}

.flex-row-center-v{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-center{
    justify-content: center;
    align-items: center;
}