
.app-body {
}

.expand {
    height: 100%;
    width: 100%;
}

.underline {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.padding {
    padding: 0.5rem;
}

.margin {
    margin: 1rem;
}

.margin-left {
    margin-left: 1rem;
}


.settings-main {
    border: 1px solid var(--main-border);
}

.settings-item {
    align-items: center;
    border-bottom: 1px solid var(--main-border);
    border-right: 1px solid var(--main-border);
    display: flex;
    height: 5%;
    padding-left: 1rem;
}

.settings-item:hover {
    background: rgba(50, 50, 50, 0.3);
    filter: drop-shadow(0px 0px 10px var(--main-border));
}

.border-right {
    border-right: 1px solid var(--main-border);
}

.border-bottom {
    border-bottom: 1px solid var(--main-border);
}

.settings-g {
    align-items: center;
    display: flex;
    justify-content: center;
}

.settings-guild-selected {
    border-left: 1px solid var(--main-border);
    border-right: 1px solid var(--main-border);
    border-top: 1px solid var(--main-border);
    height: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.settings-guild {
    border-left: 1px solid var(--main-border);
    border-right: 1px solid var(--main-border);
    border-top: 1px solid var(--main-border);
    height: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.settings-header {
    align-items: end;
    height: 3vh;
}

.settings-types {
    width: 15%;
}

.settings-box {

}

.save-state {
    bottom: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    position: absolute;
    right: 0;
}

.settings-main-window {
    border-top: 1px solid var(--main-border);
}

.ui {
    backdrop-filter: blur(5px);
    background: rgba(50, 50, 50, 0.3);
}

.debug {
    border: 1px solid red;
}

.config-item {
    height: 5vh;
    width: 30%;
}

.config-heading {
    font-size: 1.5rem;
    margin-bottom: 0.5vh;
}

.config-column {
    margin-right: 1rem;
    width: 30%;
}

.border {
    border: 1px solid var(--main-border);
}

.h100 {
    height: 100%;
}

.h110 {
    height: 110%;
}

input, select {
    background: transparent;
    border: 1px solid var(--main-border);
    color: var(--main-text);
    height: 30px;
    padding-left: 0.5rem;
}

option {
    color: black !important;
}

.option {
    justify-content: flex-end;
    width: 50%;
}

.optionListItem {
    align-items: center;
    border-bottom: 1px solid var(--main-border);
    display: flex;
    height: 5vh;
    padding-left: 1rem;
}

.optionListItem:hover {
    background: rgba(50, 50, 50, 0.3);
    filter: drop-shadow(0px 0px 10px var(--main-border));
}

.button-wrapper {
    height: 5vh;
    width: 100%;
}

.button {
    border: 1px solid var(--main-border);
    padding: 1rem;
}

.button:hover {
    background: rgba(50, 50, 50, 0.3);
    filter: drop-shadow(0px 0px 10px var(--main-border));
}

.margin-top {
    margin-top: 0.3rem;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    font-weight: 1000;
    position: absolute;
    right: 0;
    top: 34px;
    width: 100%;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.w100 {
    width: 100%;
}

.nav-two {
    border-left: 2px solid var(--main-border);
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

