.bot-tile {
    background: var(--app-bg);
    border: 1px solid var(--main-border);
    border-radius: var(--main-radius);
    display: flex;
    height: 20%;
    margin: 1rem;
    width: 20%;
}

.bot-tile:hover {
    filter: drop-shadow(0px 0px 10px var(--main-border));
}

.bot-tile-img {
    border: 2px solid var(--main-border);
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.bot-tile-img-wrapper {
    margin: 0 1rem;
}

.bot-tile-status {
    margin-bottom: 0.5rem;
}

.bot-tile-title {
    border-bottom: 1px solid var(--main-border);
    font-size: 1.5vh;
    height: 20%;
    padding-left: 1rem;
}