.login-window {
    height: 20vh;
    width: 30vw;
}

.login-error {
    color: #f00;
}

.login-border {
    border: 1px solid var(--main-border);
    border-radius: var(--main-radius);
}

.login-item {
    height: 33%;
    width: 100%;
}

.login-title {
    font-size: 2vh;
    text-align: center;
}